:root{
    --background:#292929;
    --top_back:#454545;
    --top_back_rgba:69,69,69;
    --light:#fff;
    --button_back:#383838;
    --color:#00bb00;
    --border:#6A6A6A;
}
* {
    font-family: 'IBM Plex Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background:transparent;
    display:none;
}

::-webkit-scrollbar-thumb {
    background: #545454;
    transition:.2s;
    border-radius: 6px;
    z-index:5;
}

body{
    background-color:var(--background);
    padding:none;
    padding-bottom:50px;
    height:100%;
    overflow: overlay;
}
.nav{
    z-index:10;
    position:fixed;
    height:50px;
    width:100%;
    background-color: var(--top_back);
    top:0;
    left:0;
    box-shadow:4px 4px 4px rgba(0,0,0,0.5);
    padding-right:10px;
    box-sizing:border-box;
}

.nav_icon{
    position:relative;
    top:50%;
    left:10px;
    translate:0% -50%;
    font-size:30px;
}

.nav_title{
    position:absolute;
    top:50%;
    left:45px;
    translate:0% -50%;
    font-size:22px;
    color:var(--light);
}

@keyframes nav_load{
    from{scale:0;}
    50%{scale:1.1;}
    80%{scale:0.95}
    90%{scale:1.03}
    95%{scale:0.98}
    to{scale:1;};
}

@media(max-width:700px){
    .nav a:not(#profile_pic){
        color:transparent;
    }
    .nav a ion-icon{
        position:absolute !important;
        color:#fff !important;
        top:50% !important;
        left:50%;
        translate:-50% -50%;
    }
    .nav a:not(#profile_pic){
        position:relative;
        width:10px;
        overflow:hidden;
        
    }
    #profile_pic{
        width:30px !important;
    }
}

.nav a{
    float:right;
    display:block;
    height:calc(100% - 20px); 
    margin:10px 5px 10px 5px;
    line-height:30px;
    padding:0px 10px 0px 10px;
    background:var(--button_back);
    border-radius:15px;
    color:var(--light);
    cursor:pointer;
    box-shadow:1px 2px 3px rgba(0,0,0,0.3);
    transition:.2s;
    animation:alternate 1s nav_load;
    user-select:none;
    text-decoration:none;
}

.nav a:hover{
    translate: 0 2px;
    box-shadow:none;
    filter:brightness(90%);
}

.nav a:active{
    filter:brightness(80%);
    box-shadow:inset 2px 2px 3px rgba(0,0,0,0.3);
}

.nav a:not(#like):hover ion-icon{
    color:var(--color) !important;
}

.nav #like:hover ion-icon{
    color:#ff0000 !important;
}

.nav a ion-icon{
    position:relative;
    top:5%;
    margin-right:10px;
    transition:.2s;
}

.nav img{
    height:30px;
    width:30px;
    border-radius:15px;
}

.login{
    position:absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    height:170px;
    width:400px;
    background-color:rgb(43, 43, 43,70%);
    border:2px solid rgb(33, 33, 33,70%);
    border-radius:10px;
    box-shadow:3px 3px 5px rgba(0,0,0,0.3);
    text-align:center;
    backdrop-filter:blur(4px);
}

.login strong{
    font-size:27px;
    color:var(--light);
    margin:10px;
    display:block;
}

.login p{
    color:var(--light);
}
.login p a{
    text-decoration:none;
    color:#00a300;
    transition:.2s;
}

.login p a:hover{
    filter:brightness(90%);
}

.login button{
    width:95%;
    height:30px;
    background:var(--color);
    border:2px solid #009900;
    border-radius:6px;
    color:var(--background);
    box-shadow:3px 3px 4px rgba(0,0,0,0.3);
    cursor:pointer;
    position:absolute;
    left:50%;
    translate:-50% 0%;
    bottom:5px;
    transition:.2s;
    font-size:16px;
    line-height:26px;
    font-weight:bold;
    text-shadow: 0px 0px 2px #007500;
}

.login button:hover{
    translate: -50% 2px;
    box-shadow:none;
    text-shadow: 0px 0px 4px #007500;
}

.title_home{
    position:absolute;
    left:20px;
    top:50px;
    color:#fff;
}

.home_sets{
    position:absolute;
    top:110px;
    left:0px;
    margin:10px;
    width:calc(100% - 20px);
    height:300px;
    display:flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap:wrap;
}

.home_sets a:not(#home_edit, #home_del){
    position:relative;
    width:300px;
    height:300px;
    background:var(--top_back);
    border-radius:10px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.5);
    cursor:pointer;
    transition:.2s;
    overflow:hidden;
    margin:15px;
}

#home_sets_span{
    content:"";
    position:absolute;
    bottom:0px;
    width:280px;
    height:30px;
    overflow:hidden;
    background:rgb(43, 43, 43,0.6);
    backdrop-filter:blur(3px);
    left:50%;
    translate:-50% 0px;
    border-radius:10px 10px 0px 0px;
    z-index:4;
    transition:.3s ease;
}

.home_sets a:not(#home_edit, #home_del):hover #home_sets_span{
    height:100px;
    background:rgba(43,43,43,0.8);
}

.home_sets a:hover{
    box-shadow:none !important;
    translate:0px 2px;
    filter:brightness(90%);
}

.home_sets a:active{
    filter:brightness(80%);
    scale:0.99;
}

.home_sets a img{
    object-fit:cover;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    user-select:none;
}

.home_sets a strong{
    position:absolute;
    top:5px;
    left:10px;
    color:#fff;
    z-index:5;
}

.home_sets a:hover #user{
    opacity:1;
    bottom:0px;
}

#user{
    bottom:-20px;
    color:#a3a3a3;
    font-size:12px;
    opacity:0;
    transition:.2s;
    position:absolute;
    left:10px;
}

#user:hover{
    color:var(--color);
}

.home_sets a p:not(#user){
    position:absolute;
    top:20px;
    left:10px;
    color:#fff;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width:calc(100% - 15px);
    z-index:5;
}

@keyframes home_del_load{
    from{opacity:0;bottom:-5px;scale:0.5;rotate:90deg;}
    to{opacity:1;bottom:5px;scale:1;rotate:0deg;}
}

.home_sets a:hover #home_edit{
    animation:alternate 0.4s home_del_load;
    opacity:1;
    bottom:5px;
}

.home_sets a:hover #home_del{
    animation:alternate 0.4s home_del_load;
    opacity:1;
    bottom:5px;
}

#home_edit,#home_del{
    background:rgba(56,56,56,0.4);
    width:20px;
    height:20px;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-radius:50%;
    margin:3px;
    box-shadow:1px 1px 2px rgba(0,0,0,0.3);
    cursor:pointer;
    position:absolute;
    bottom:-5px;
    z-index:15;
    transition:.2s;
    opacity:0;
    z-index:3;
    backdrop-filter:blur(4px);
}

#home_edit:hover,#home_del:hover{
    translate:0 2px;
    box-shadow:none;
    filter:brightness(90%);
}

#home_del{
    right:5px;
}

#home_del:hover{
    color:#d10000;
}

#home_edit{
    right:40px;
}

#home_edit:hover{
    color:var(--color);
}

.home_new{
    width:50px;
    height:50px;
    border-radius:50%;
    background:var(--top_back);
    position:fixed;
    bottom:20px;
    right:20px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.5);
    cursor:pointer;
    transition:.2s;
    color:#fff;
}

.home_new:hover{
    scale:0.99;
    translate:0px 2px;
    box-shadow:none;
    filter:brightness(90%);
    rotate:90deg;
    color:var(--color);
}

.home_new:active{
    filter:brightness(80%);
    scale:0.95;
}


.home_new ion-icon{
    position:absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    font-size:30px;
}

.make{
    top:60px;
    position:absolute;
    margin:10px;
    width:calc(100% - 20px);
    left:0px;
    height:800px;
}

.new_title{
    display:block;
    color:#fff;
    margin:20px;
}

.make_title{
    height:40px;
    position:relative;
    margin:15px;
}

.make_desc{
    height:200px;
    position:relative;
    margin:15px;
}

.text{
    resize:none;
    width:100%;
    height:40px;
    position:absolute;
    bottom:0px;
    left:0px;
    background:var(--background);
    border:2px solid var(--top_back);
    box-sizing:border-box;
    padding:5px 5px 5px 10px;
    z-index:3;
    color:#fff;
    border-radius:10px;
    transition:.2s;

}

.text:focus{
    outline:none;
    border-color:var(--color);
}


.make_title_title{
    position:absolute;
    left:20px;
    top:-10px;
    z-index:5;
    color:#fff;
    border-radius:10px;
    background:var(--background);
    padding:0px 2px 0px 2px;
}

.choose_back{
    margin:40px 20px 20px 20px;
    color:#fff;
}

.backgrounds{
    width:calc(100% - 40px);
    margin:20px;
    position:relative;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    border:2px solid var(--top_back);
    border-radius:10px;
    transition:.2s;
}


.backgrounds a{
    position:relative;
    height:250px;
    width:400px;
    margin:10px;
    background:var(--top_back);
    border:2px solid var(--button_back);
    box-shadow:3px 3px 4px rgba(0,0,0,0.5);
    border-radius:10px;
}

.backgrounds input[type="radio"]{
    position:absolute;
    top:10px;
    left:10px;
    z-index:5;
    appearance:none;
    width:20px;
    height:20px;
    background:#4f4f4f;
    border-radius:5px; 
    cursor:pointer;
    border:2px solid #404040;
    transition:.2s;
    box-shadow:0px 0px 10px rgba(0,0,0,0.9);
}

@keyframes radio{
    from{scale:1}
    50%{scale:0.8}
    90%{scale:0.95}
    to{scale:0.9}
}

@keyframes radio_hover{
    from{scale:1}
    50%{scale:0.9}
    to{scale:0.98}
}


@keyframes radio_no_hover{
    from{scale:0.9}
    50%{scale:0.8}
    90%{scale:1.05}
    to{scale:1}
}


.backgrounds input[type="radio"]:checked{
    background:var(--color);
    scale:0.9;
    border-color:#009900;
    animation:alternate 1s radio;
    box-shadow:0px 0px 10px #009900;
}


.backgrounds input[type="radio"]:not(:checked){
    scale:1;
    animation:alternate 1s radio_no_hover;
}

.backgrounds img{
    object-fit:cover;
    height:calc(100% - 10px);
    width:calc(100% - 10px);
    margin:5px;
    position:absolute;
    top:0px;
    left:0px;
    border-radius:10px;
    border:2px solid var(--button_back);
    box-sizing:border-box;
    user-select:none;
}

.make_next{
    height:40px;
    width:120px;
    font-size:16px;
    text-align:center;
    background:var(--color);
    border:none;
    border-radius:20px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:2px 2px 3px rgba(0,0,0,0.7);
    transition:.2s;
    float:right;
    position:absolute;
    right:20px;
    top:20.5px;
    color:#000;
    text-decoration:none;
    line-height:40px;
}

.make_finish{
    color:#fff;
    height:40px;
    width:120px;
    font-size:16px;
    text-align:center;
    background:var(--top_back);
    border:none;
    border-radius:20px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:2px 2px 3px rgba(0,0,0,0.7);
    transition:.2s;
    float:right;
    position:absolute;
    right:160px;
    top:20.5px;
}

.make_next ion-icon, .make_finish ion-icon{
    position:relative;
    top:3px;
    margin-left:2px;
    transition:.2s;
}

.make_next:hover, .make_finish:hover{
    filter:brightness(90%);
    box-shadow:none;
    translate:0 2px;
}

.make_next:active, .make_finish:active{
    filter:brightness(80%);
    box-shadow:inset 2px 2px 3px rgba(0,0,0,0.3);
}

.make_next:hover ion-icon{
    translate:4px 0px;
}

.make_next:active ion-icon{
    translate:8px 0px;
}


.question_main{
    top:100px;
    left:50%;
    translate:-50% 0%;
    position:absolute;
    width:calc(50vmax - 40px);
}

.text_answer{
    margin-top:10px;
    display:block;
    width:calc(100% - 8px);
    height:50px;
    background:var(--top_back);
    border:2px solid var(--border);
    border-radius:10px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.5);
    text-align:center;
    color:#fff;
    line-height:50px;
    transition:.2s;
}

.text_answer:focus{
    border-color:var(--color);
    translate:0 2px;
    box-shadow:none;
    filter:brightness(90%);
    outline:none;
}

.what_question{
    aspect-ratio:2/1;
    width:100%;
    background:var(--top_back);
    display:flex;
    border-radius:10px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.5);
    border:2px solid var(--border);
    justify-content:center;
    align-items: center;
    color:#fff;
    font-size:3vmax;
    box-sizing:border-box;
}

.question_main button:not(.what_question),.sumbit_ans{
    margin-top:10px;
    display:block;
    width:100%;
    height:50px;
    background:var(--top_back);
    border:2px solid var(--border);
    border-radius:10px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.5);
    text-align:center;
    color:#fff;
    line-height:50px;
    cursor:pointer;
    transition:.2s;
}

.question_main button:not(.what_question):hover,.sumbit_ans:hover{
    border-color:var(--color);
    translate:0 2px;
    box-shadow:none;
    scale:0.99;
    filter:brightness(90%);
}

.correct_main{
    top:60px;
    left:50%;
    translate:-50% 0%;
    position:absolute;
    width:calc(100% - 40px);
    color:#fff;
}

.correct_main h1{
    color:#fff;
}

.what_got{
    width:100%;
    min-height:200px;
    background:rgba(0,161,0,0.2);
    border:2px solid rgba(0,142,0,0.3);
    padding:10px;
    box-sizing:border-box;
    border-radius:10px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.5);
}

.what_correct{
    width:100%;
    min-height:200px;
    background:rgba(161,0,19,0.2);
    border:2px solid rgba(132,0,8,0.3);
    padding:10px;
    box-sizing:border-box;
    border-radius:10px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.5);
}

.error_title{
    top:200px;
    left:50%;
    position:absolute;
    translate:-50% 0%;
    color:#fff;
}

.you_did_it{
    position:absolute;
    left:50%;
    top:200px;
    translate:-50% 0;
    color:#fff;
    z-index:5;
}

.you_did_well{
    position:absolute;
    left:50%;
    top:250px;
    translate:-50% 0;
    color:#fff;
    z-index:5;
}

.next_set{
    position:absolute;
    left:50%;
    top:350px;
    translate:-50% 0;
    background:var(--color);
    border:2px solid #009900;
    border-radius:20px;
    height:40px;
    width:200px;
    box-shadow:0px 0px 30px var(--color);
    cursor:pointer;
    font-weight:bold;
    transition:.2s;
    z-index:5;
    text-decoration:none;
    color:var(--background);
    text-align:center;
    line-height:40px;
}

.next_set:hover{
    translate:-50% 2px;
    box-shadow:0px 0px 50px var(--color);
    filter:brightness(90%);
}

@keyframes star{
    from{scale:1;opacity:1;}
    50%{scale:0.8;opacity:.5;}
    to{scale:1;opacity:1;}
}

#star{
    height:15px;
    width:15px;
    border-radius:50%;
    background:var(--color);
    position:absolute;
    animation:infinite 5s star;
}

.get_started{
    position:absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    color:#00bb00;
    text-shadow:0px 0px 10px #00bb00;
}

.right_click{
    width:150px;
    background:rgba(30,30,30,0.8);
    backdrop-filter:blur(4px);
    z-index:20;
    border-radius:10px;
    box-shadow:2px 2px 3px rgba(0,0,0,0.5);
    position:fixed;
    display:none;
    overflow:hidden;
}

.right_click a{
    display:block;
    width:calc(100% - 10px);
    border-radius:5px;
    margin:5px;
    background:rgba(50,50,50,0.7);
    backdrop-filter:blur(4px);
    height:30px;
    line-height:30px;
    color:#fff;
    padding-left:10px;
    box-sizing:border-box;
    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
    cursor:pointer;
}

.right_click a ion-icon{
    position: relative;
    top: 5%;
    margin-right: 3px;
    transition: .2s;
}

dialog{
    width:400px;
    height:170px;
    background:var(--background);
    border:none;
    border-radius:10px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.5)
}

dialog::backdrop{
    background:#000;
    opacity:0.5;
}

.are_you_sure{
    color:#fff;
    margin:10px;
    display:block;
}

.are_you_sure_p{
    color:#fff;
    margin:10px;
    display:block;
}

.remove{
    background:#d10000;
    width:100px;
    height:30px;
    border-radius:15px;
    border:none;
    font-weight:bold;
    position:absolute;
    right:10px;
    bottom:10px;
    box-shadow:2px 2px 3px rgba(0,0,0,0.5);
    cursor:pointer;
    transition:.2s;
    line-height:30px;
    text-align:center;
    user-select:none;
}

.remove:hover{
    translate:0px 2px;
    filter:brightness(90%);
    box-shadow:none;
}

.remove:focus, .remove:active{
    translate:0px 2px;
    filter:brightness(85%);
    box-shadow:inset 1px 1px 2px rgba(0,0,0,0.5);
    outline:none;
}

.close{
    position:absolute;
    top:10px;
    right:10px;
    color:#fff;
    font-size:21px;
    transition:.2s;
    cursor:pointer;
}

.close:hover{
    color:var(--color);
    rotate:90deg;
}
