{% extends "base.html" %}
{% block main %}
    <div class="correct_main">
        <h1>Question Name</h1>
        <h2>You Got This Question Correct!</h2>
        <div class="what_got">
            <strong>What You Got:</strong>
            <p>Curabitur condimentum elit sit amet neque sodales mollis. Ut finibus eros turpis, fringilla faucibus felis accumsan non. Cras volutpat, urna id interdum egestas, arcu tortor posuere augue, non volutpat tellus purus a mauris. Nunc tempus vehicula odio vel placerat. Aenean pharetra tincidunt interdum. Mauris pretium risus quis sem finibus ultrices. Nam cursus aliquam sem, ac lobortis velit fringilla in. Sed vel mi malesuada nisi hendrerit facilisis. Nulla malesuada tristique mauris vel laoreet. Pellentesque orci erat, gravida at volutpat ut, tempus convallis dui. Donec scelerisque tempor erat, ac mollis odio venenatis sit amet. Vestibulum auctor orci ligula. Sed justo mi, molestie vitae lectus nec, convallis finibus mi. Quisque venenatis congue quam, pellentesque tristique leo blandit id. Ut in turpis leo. In vel enim ut purus semper feugiat.</p>
        </div>
    </div>
<button style="bottom:20px;top:unset;" class="make_next">Next<ion-icon name="arrow-forward-outline"></ion-icon></button>
{% endblock %}