{% extends "base.html" %}
{% block main %}
<div class="home_sets">
    <a>
        <img src="static/backgrounds/maths.png">
        <strong>Set Name</strong>
        <p>About Set</p>
    </a>
    <a>
        <img src="static/backgrounds/books.png">
        <strong>Set Name</strong>
        <p>About Set</p>
    </a>
    <a>
        <img src="static/backgrounds/computer.png">
        <strong>Set Name</strong>
        <p>About Set</p>
    </a>
    <a>
        <img src="static/backgrounds/books.png">
        <strong>Set Name</strong>
        <p>About Set</p>
    </a>
    <a>
        <img src="static/backgrounds/maths.png">
        <strong>Set Name</strong>
        <p>About Set</p>
    </a>
    <a>
        <img src="static/backgrounds/computer.png">
        <strong>Set Name</strong>
        <p>About Set</p>
    </a>
</div>
<a href="/new" class="home_new">
    <ion-icon name="add-outline"></ion-icon>
</a>
{% endblock %}